services:
  app:
    build: .
    image: duytrinh107/f5-clothes:latest
    container_name: backend-java
    ports:
      - "8081:8081"
    depends_on:
      - mysql
    env_file: .env
  mysql:
    image: mysql:8.0
    container_name: database
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
    volumes:
      - mysql-data:/var/lib/mysql
      - ./java.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql-data:
